<table class="list">
  <thead>
    <tr>
      <th><%=l(:label_custom_field)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project.all_issue_custom_fields.each do |cf| %>
      
        <% if ['list', 'check_box'].include?(cf.field_format)%>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td class="name"><%=cf.name%></td>
          <td class="buttons"><%= link_to(l(:label_create_personalization),
                    manage_possible_values_path(@project, cf),
                    :class => 'icon icon-add') unless @project.custom_fields_customized.include?(cf) %>
              <%= link_to(l(:button_edit),
                    manage_possible_values_path(@project, cf),
                    :class => 'icon icon-edit') if @project.custom_fields_customized.include?(cf) %>
              <%= link_to(l(:button_reset),
                    delete_possible_values_path(@project, cf),
                    :class => 'icon icon-del',
                    :method => :delete) if @project.custom_fields_customized.include?(cf) %></td>
          </tr>
        <% end %>
      
    <% end  %>
  </tbody>
</table>
