<table class="list">
  <thead>
    <tr>
      <th><%=l(:label_custom_field)%></th>
      <th><%=l(:label_possible_value_customized)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project.issue_custom_fields.each do |cf| %>
      
        <% if ['list', 'check_box'].include?(cf.field_format)%>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%=cf.name%></td>
          <td>activo</td>
          <td><%= link_to l(:label_edit), manage_possible_values_path(@project, cf)%></td>
          </tr>
        <% end %>
      
    <% end  %>
  </tbody>
</table>
