<h2><%=l(:editing_custom_values_for_custom_field, :custom_field => @custom_field.name) %></h2>

<%= form_tag(manage_possible_values_path(@project, @custom_field), :method => :post) do %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_possible_values)%></th>
        <th><%= l(:field_active)%></th>
      </tr>
    </thead>
    <tbody>
      <% @custom_field.possible_values.each do |v| %>
        <tr>
          <td><%=v%></td>
          <td><%= check_box_tag "values[]", v, @possible_values.include?(v)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= submit_tag l(:button_save) %>
<% end %>
